{
  "vaultPath": "/path/to/your/ObsidianVault",
  "delimiter": ":::",
  "scanFolders": ["01 - Computer Science", "Notes"],
  "defaultAnkiDeck": "Synced from Obsidian",
  "defaultEngineTag": "Obsidian-Anki-AST",
  "ankiConnectUrl": "http://127.0.0.1:8765",
  "noteModelName": "Basic",
  "autoCreateDecks": true,
  "syncTagPrefix": "obsidian-id",
  "linkFormat": "shortest",
  "attachmentFolder": "attachments",
  "defaultCardDeclarationHeadingLevel": 4,
  "includeParentHeadersAsTags": true
}
